<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>翼起找呀-物品列表</title>
		<script src="../js/mui.min.js"></script>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/nav.css" rel="stylesheet"/>
	    <link href="../css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	    <link href="./css/style.css" rel="stylesheet">
		<link href="../css/header.css" rel="stylesheet">
		<link href="../css/iconfont/iconfont.css" rel="stylesheet">
    	<script type="text/javascript" charset="utf-8">
      		mui.init();
    	</script>
        <script type="text/javascript" src="https://s23.cnzz.com/z_stat.php?id=1276795472&web_id=1276795472"></script>
	</head>
	<body>
		
		<nav><i class="back mui-icon mui-icon-back" onclick="window.location.href='../index.html'"></i>物品列表</nav>
		<div id="searchForm" >
			<a href="#popover" id="openPopover" class="hot" >筛选<i class="iconfont icon-list"></i></a>
			<div id="popover" class="mui-popover  ">
					<div class="floatLeft searchBar" @click="ObjectTab" v-bind:class="{'select':obj}" style="border-top-left-radius: 7px;">物品</div>
					<div class="floatLeft searchBar" @click="AddressTab" v-bind:class="{'select':addr}" style="border-top-right-radius: 7px;">地点</div>
					<div class="clearFloat"></div>
					<div class="selectBox">
						<div class="box" v-bind:class="{displayNone:!left,left:!left}">
							<span class="selectOption" v-for="item in hotObject" @click="addInSearch">{{item}}</span>
						</div>
						<div class="box" v-bind:class="{displayNone:left,left:left}">
							<span class="selectOption" v-for="item in hotAddress" @click="addInSearch">{{item}}</span>
						</div>
					</div>
			</div>
			<input type="text" id="search" placeholder="请输入关键字" / v-model="search">
			<span id="search-icon" class="fa fa-search search-icon" style="position: absolute;top:72px;color: #bbbbbb"></span>
			<!-- <button type="button"><a href="../find/find.html">发布</a></button> -->
		</div>
		<div id="detail">
			<section class="markDetail" v-for="item in detail" >
				<img v-bind:src="item.img" v-bind:data-id = "item.id" v-bind:data-type = "item.type" v-bind:data-type = "item.type" @click="getId"/>
				<div>
					<span ><span  class="signCard" v-bind:class={displayInline:item.stu_card}>校园卡</span>{{item.title}}</span>
					<article>{{item.description}}</article>
					<p> 时间：{{item.date}}</p>
					<span v-bind:data-id = "item.id" v-bind:data-type="item.type" @click="getId" id="more">详情></span>
					<!-- <p v-bind:data-id = "item.id" v-bind:data-type="item.type"> 发布者：{{item.nickname}}</p> -->
				</div>
			</section>
		</div>
	</body>
	<script type="text/javascript" src="../js/checkStage.js"></script>
<script type="text/javascript" src="../js/cookie.js"></script>
 <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="./js/list.js"></script>
</html>
