*{
	font-family: '苹方 常规';
}

section{
	font-weight: bold;
	box-sizing: border-box;
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
	margin-top:30px;
}
section i{
	margin-bottom: 10px;
	margin-right: 15px;
}
section>div{
	border-bottom:1px solid #bdbdbd;
}
section>ul{
	width: 100%;
}
section>ul>li{
	font-weight: normal;
	
}
section>ul>li:nth-child(1){
	color:#f33f44;
}
#contact>ul{
	padding: 0;
}
ol{
	white-space: pre-line;
	margin-top: 10px;
}
