body {
	font-family: '苹方 常规';
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.head{
	text-align: center;
	padding-top: 50px;
}

#head>form>div{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 20px auto;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	
}


form{
	background-color: #fff;
	position:relative;
	box-shadow: border-box;
	padding: 3%;
	width: 100%;

}

.fa{
	font-size: 20px;
}
input[type="file"]{
	z-index: 999;
	display: inline-block;
	position: absolute;
	left: 40%;
	width: 20%;
	top:70px;
	height: 80px;
	opacity: 0;
	
	
}
input[type="text"]{
	width: 60%;
	margin-left: 10%;
}
button{
	margin-top: 30px;
	width: 30%;
	color:#fff;
	border-radius: 15px;
	background-color: #859af3;
	
}
